# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

dirs.py

Pics/ALL_ENG/cube
Pics/ALL_ENG/desk
Pics/ALL_ENG/file.mp3
Pics/ALL_ENG/mixed
Pics/ALL_ENG/M_Adventure_Time
Pics/ALL_ENG/M_Adventure_Time_2
Pics/ALL_ENG/M_Apocalypse
Pics/ALL_ENG/M_Bites
Pics/ALL_ENG/M_Bites_2
Pics/ALL_ENG/M_Blender
Pics/ALL_ENG/M_Booty
Pics/ALL_ENG/M_Booty_2
Pics/ALL_ENG/M_Booty_3
Pics/ALL_ENG/M_Cthulhu
Pics/ALL_ENG/M_Cthulhu_2
Pics/ALL_ENG/M_Cthulhu_3
Pics/ALL_ENG/M_Cthulhu_4
Pics/ALL_ENG/M_Dragons
Pics/ALL_ENG/M_Epic
Pics/ALL_ENG/M_Fairy_Dust
Pics/ALL_ENG/M_Fantasy_2
Pics/ALL_ENG/M_Fantasy_3
Pics/ALL_ENG/M_Fantasy_4
Pics/ALL_ENG/M_Fantasy_5
Pics/ALL_ENG/M_Fantasy_6
Pics/ALL_ENG/M_Fantasy_6.5
Pics/ALL_ENG/M_Fantasy_7
Pics/ALL_ENG/M_Fantasy_8
Pics/ALL_ENG/M_Fu
Pics/ALL_ENG/M_Fu_2
Pics/ALL_ENG/M_Gets_Promoted
Pics/ALL_ENG/M_Impossible
Pics/ALL_ENG/M_Legends
Pics/ALL_ENG/M_Love_Shark_Baby
Pics/ALL_ENG/M_Marked_for_Death
Pics/ALL_ENG/M_Marvel
Pics/ALL_ENG/M_Marvel_2
Pics/ALL_ENG/M_Marvel_3
Pics/ALL_ENG/M_Monster_Enhangers
Pics/ALL_ENG/M_Munckinomicon
Pics/ALL_ENG/M_Nightmare_Before_Cristmas
Pics/ALL_ENG/M_Pathfinder
Pics/ALL_ENG/M_Princesses
Pics/ALL_ENG/M_Reloaded
Pics/ALL_ENG/M_Rick_and_Morty
Pics/ALL_ENG/M_Star
Pics/ALL_ENG/M_Star_2
Pics/ALL_ENG/M_Star_3
Pics/ALL_ENG/M_Super
Pics/ALL_ENG/M_Super_2
Pics/ALL_ENG/M_The_Good_The-Bad_and_The_Munchkin
Pics/ALL_ENG/M_Tricky_Treats
Pics/ALL_ENG/M_X-Men
Pics/ALL_ENG/M_X-Men_2
Pics/ALL_ENG/M_Zombies
Pics/ALL_ENG/Rules
Pics/ALL_ENG/__FINE&NOT__
Pics/ALL_ENG/*.png
